<div class="container mx-auto">
    <div style="text-align: center">
        <canvas class="border" #canvas [width]="size[0]" [height]="size[1]">Tu navegador no soporta la etiqueta
      canvas</canvas>
    </div>
</div>