<div class="grid">
    <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
    <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
    <div class="g-col-6 g-col-md-4">.g-col-6 .g-col-md-4</div>
</div>