<!-- <app-asociar-ifentificador-prev></app-asociar-ifentificador-prev> -->

<!-- <app-asociar-identificador></app-asociar-identificador> -->

<!-- <app-recta-numerica></app-recta-numerica> -->

<!-- <app-rompezabezas></app-rompezabezas> -->

<!-- <app-recta-numerica2></app-recta-numerica2> -->

<!-- <app-plano-cartesiano></app-plano-cartesiano> -->

<app-plano-cartesiano-phaser></app-plano-cartesiano-phaser>
<!-- <app-regla></app-regla> -->
<!-- <app-papas></app-papas> -->

<!-- <app-seleccion-traignulos></app-seleccion-traignulos> -->

<!-- <app-graficas></app-graficas> -->