.container {
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
}

h2 {
    padding-top: 10px;
    text-align: center;
}

.check2 {
    width: 220px;
    background-color: #28a745;
    opacity: 80%;
    color: white;
    font: oblique bold;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    margin-top: 2%;
}