<h2> Utiliza la regla y calcula el perímetro</h2>

<div class="container mx-auto">
    <div style="text-align: center">
        <div id="game"></div>
    </div>
</div>

<div class="container">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Seleecione la respuesta correcta</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="value">
                <mat-option *ngFor="let value of options" [value]="value.value">
                    {{value.viewValue}}
                </mat-option>
            </mat-select>

        </mat-form-field>
        <!-- <button type="button" class="btn btn-primary" (click)="comprobacion()">Primary</button> -->

        <div *ngIf="selectedValue === undefined ; else comprobacion">
        </div>
        <ng-template #comprobacion>
            <div *ngFor="let item of options">
                <div *ngIf="item.value != selectedValue">
                    <h3 class="check2" style="text-align: center; margin-left: 20%;">
                        {{item.value}}
                    </h3>
                </div>
            </div>
        </ng-template>
    </form>
</div>