<!-- <div class="container mx-auto">
    <div style="text-align: center">
        <h2>¿Cuales son las coordenadas del corazon?</h2>
        <div id="game"></div>
    </div>
</div> -->

<div style="text-align: center">
    <canvas class="canvas" #canvas [width]="size[0]" [height]="size[1]">Tu navegador no soporta la etiqueta canvas</canvas>
</div>