<div class="container mx-auto">
    <div class="row" *ngIf="!viewResult">
        <div class="col-sm-4" *ngFor="let item of array; let i = index">
            <div>
                <input class="form-check-input" (click)="getSelected(i)" type="checkbox" [(ngModel)]="item.select" id="flexCheckDefault" [disabled]="onlyView" />
                <!-- <mat-checkbox labelPosition="before" class="example-margin" (change)="getSelected($event, item.id)"></mat-checkbox> -->
                <img (click)="getSelected(i)" [src]="item.src" tem alt="" />
            </div>
        </div>
    </div>
    <div class="row" *ngIf="viewResult">
        <div class="col-sm-4 p-4" *ngFor="let item of array; let i = index">
            <div class="d-flex align-items-start">
                <label *ngIf="item.select && item.answer == ''">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x-circle"
                        viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </label>
                <label *ngIf="item.select && item.answer != ''">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                </label>
            </div>
            <img [src]="item.src" tem alt="" />
        </div>
    </div>
</div>
<button type="button" class="btn btn-success" (click)="enviar()" *ngIf="!onlyView">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive"
        viewBox="0 0 16 16">
        <path
            d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
    </svg>
    Enviar
</button>