<div class="container mx-auto mt-5">
    <h3>Seleccionar un valor entre las opciones después indicar su ubicación en la recta presionando la marca correspondiente.</h3>
    <div class="form-check form-check-inline" *ngFor="let item of data.numerosAleatorios">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="item" [(ngModel)]="numeroSeleccionado" [disabled]="this.onlyView || this.viewResult">
        <label class="form-check-label" for="inlineRadio1">{{item}}</label>
    </div>

    <div style="text-align: center">
        <canvas class="border" #canvas [width]="size[0]" [height]="size[1]">Tu navegador no soporta la etiqueta canvas</canvas>
    </div>

    <!-- <div>
        <button mat-raised-button color="primary" (click)="comprovarColicion()" *ngIf="!onlyView">Enviar</button>
    </div> -->
</div>