.center {
    margin-left: auto;
    margin-right: auto;
}

.answer {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border: 3px solid rgba(82, 82, 82, 0.616);
    border-radius: 10px;
}

.list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.font {
    font-family: "Bubblegum Sans", cursive, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.87);
}

.box {
    @extend .font;
    border-right: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    flex: 1 1 0px;
}

.answer-box {
    min-height: 60px;
    border-right: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    margin: 10px;
}

.answer-box {
    background: rgba(190, 220, 255, 0.603);
    border: dotted 3px rgb(161, 204, 253);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.answer-box:hover {
    background: rgba(190, 255, 206, 0.603);
}

.written-number {
    @extend .font;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #ccc;
}

.units-header {
    @extend .box;
    cursor: initial;
    color: white;
}

.written-number-header {}

.blue {
    background-color: #00a7e1;
}

.green {
    background-color: #00b37c;
}

.red {
    background-color: #fe6c6e;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
    border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.selected-answer {
    background-color: #00a7e1;
    color: white;
    border: none;
}