<p>recta-numerica2 works!</p>

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" #todoList="cdkDropList" [cdkDropListData]="resp" [cdkDropListConnectedTo]="[doneList]">
    <div class="example-box" *ngFor="let timePeriod of resp" cdkDrag>
        {{ timePeriod.value }}
    </div>
</div>

<div class="container">
    <canvas #canvas id="{{ canvas }}" height="30" width="750"></canvas>

    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" #doneList="cdkDropList" [cdkDropListData]="timePeriods" [cdkDropListConnectedTo]="[todoList]">
        <div class="example-box" *ngFor="let item of timePeriods" cdkDrag [cdkDragDisabled]="item.disabled">
            {{ item.value }}
        </div>
    </div>
</div>